.bg{
    background: url(fondo.jpg) no-repeat bottom center;
    padding: 1em 0 0 0;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
#container {
  padding: 0;
  margin: 0;
  background: url(fondo.jpg) fixed no-repeat center bottom  #fff;
  margin: 0 auto;
  min-height: 100vh;

}

.progress-pie-chart {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  clip: rect(0, 60px, 60px, 30px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  clip: rect(0, 30px, 60px, 0);
  background: #38c016;
  transform: rotate(60deg);
}
.ppc-progress .ppc-progress-fill.red {
  background: #e90000 !important;
}
.ppc-progress .ppc-progress-fill.blue {
  background: #0050ed;
}
.gt-50 .ppc-progress {
  clip: rect(0, 30px, 60px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 60px, 60px, 30px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 52.1739130435px/2);
  top: calc(50% - 52.1739130435px/2);
  width: 52.1739130435px;
  height: 52.1739130435px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: #81CE97;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}


