.bg{
    background: url(fondo.png) no-repeat bottom center;
    padding: 1em 0 1em 0;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
#container {
  padding: 0;
  margin: 0;
  background: url(fondo.png) fixed no-repeat center bottom  #fff;
  margin: 0 auto;
  min-height: 100vh;

}

/* style progress */

.progress-pie-chart {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
border: 1px solid #e5e5e5;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  clip: rect(0, 80px, 80px, 40px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  clip: rect(0, 40px, 80px, 0);
  background: #ffff0f;
  transform: rotate(60deg);
}
.ppc-progress .ppc-progress-fill.red {
  background: #e90000 !important;
}
.ppc-progress .ppc-progress-fill.blue {
  background: #0050ed;
}
.ppc-progress .ppc-progress-fill.green {
  background: #38c016;
}
.gt-50 .ppc-progress {
  clip: rect(0, 40px, 80px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 80px, 80px, 40px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 53.3333333333px/2);
  top: calc(50% - 53.3333333333px/2);
  width: 53.3333333333px;
  height: 53.3333333333px;
  background-image: url(fondo.png);
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}



/* Text style */
.uppercase{
  text-transform: uppercase
}
.bold{
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.title{
  color: #FFFFFF;

}

/* imagen */

.img-scd{
  width: 80px;
  height: 80px;
}

table{
  margin: auto;
}